[Desktop Entry]
Version=1.0
Type=Application
Name=compton (legacy)
GenericName=X compositor
Comment=A X compositor
Categories=Utility;
TryExec=compton
Exec=compton-legacy
Icon=compton-legacy
# Thanks to quequotion for providing this file!
